name: Linting

on:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setting up NodeJS
        uses: actions/setup-node@v1

      - name: Clean Install
        run: npm ci

      - name: Test
        run:  npm lint